/* Container principal */
.denuncias-container {
  padding: 40px;
  max-width: 1200px;
  margin: auto;
  height: 80vh;
  top: -40px;
}

/* Seção de Destaque */
.destaque {
  background: #003f5c;
  color: white;
  text-align: center;
  padding: 40px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.destaque h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.destaque p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.btn-registrar {
  background: #00cec7;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-registrar:hover {
  background: #009394;
}

/* Lista de Denúncias */
.lista-denuncias {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.btn-detalhes {
  background-color: #4c84c2; /* Azul SIG-SEG */
  color: white;
  font-size: 18px;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.3s ease;
}

.btn-detalhes:hover {
  background: #004d56;
}
/**/
.pesquisa-container {
  align-items: center;
  text-align: center;
  background-color: #d3dde6;
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
}

.pesquisa-container h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.pesquisa-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.pesquisa-box input {
  width: 70%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}
